#### DICTIONARIES
A dictionary associates keys with values. Each key maps to a specific value. The following table contains examples of dictionaries with their keys, key types, values and value types:

In [4]:
my_dictionary = {
    'name' : "Mausm",
    'dep'  : "CSE",
    'Age'  : 24
}
    

my_dictionary

{'name': 'Mausm', 'dep': 'CSE', 'Age': 24}

#### Iterating through a Dictionary
The following dictionary maps month­name strings to int values representing the numbers of days in the corresponding month. Note that multiple keys can have the same value:

In [5]:
day_per_month = {'January': 31, 'February':28, 'March': 31}
day_per_month

{'January': 31, 'February': 28, 'March': 31}

#### Dictionary Views

In [9]:
for month_name in day_per_month.keys():
    print(month_name, end=" ")

January February March

In [11]:
for month_number in day_per_month.values():
    print(month_number, end=" ")

31 28 31

#### Removing a Key–Value Pair
You can delete a key–value pair from a dictionary with the del statement:

In [6]:
roman_numerals = {'I':1, 'II':2,'III':3, 'V':5,'X':10, 'L':50}

In [7]:
del roman_numerals['III']

roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'X': 10, 'L': 50}

In [8]:
roman_numerals.pop('X')

roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

#### comparison operators == and !=

In [4]:
country_cap = {
    'Belgium' : 'Brussels',
    'Haiti'  : 'Port-au-Prince'
}

country_cap2 ={
    'Nepal':'Kathmandu',
    'Uruguay':'Montevideo'
}

country_cap3 = {
    'Haiti' : 'Port-au-Prince',
    'Belgium' : 'Brussels',

}


print("Country 1 and 2 are Equal", country_cap ==country_cap2)

print("Country 2 and 3 are Equal", country_cap2 ==country_cap3)

print("Country 1 and 3 are Equal", country_cap ==country_cap3)

Country 1 and 2 are Equal False
Country 2 and 3 are Equal False
Country 1 and 3 are Equal True

##### Dictionary of Student Grades

The following script represents an instructor’s grade book as a dictionary that maps each student’s name (a string) to a list of integers containing that student’s grades on three exams. In each iteration of the loop that displays the data (lines 13–17), we unpack a key–value pair into the variables name and grades containing one student’s name and the corresponding list of three grades. Line 14 uses built­in function sum to total a given student’s grades, then line 15 calculates and displays that student’s average by dividing total by the number of grades for that student (len(grades)). Lines 16– 17 keep track of the total of all four students’ grades and the number of grades for all the students, respectively. Line 19 prints the class average of all the students’ grades on all the exams.

In [6]:
grade_book = {
    'Susan':[92,85,100],
    'Eduardo':[83,95,79],
    'Azizi':[91,89,82],
    'Pantipa':[97,91,92]
}


all_grade_total = 0
all_grade_count = 0

for name, grades in grade_book.items():
    total = sum(grades)
    print(f'Average for {name} is {total/len(grades):.2f}')
    all_grade_count  +=len(grades)
    all_grade_total  +=total

print(f"Class's average is: {all_grade_total / all_grade_count:.2f}")

Average for Susan is 92.33
Average for Eduardo is 85.67
Average for Azizi is 87.33
Average for Pantipa is 93.33
Class's average is: 89.67

#### Dictionary Method update

In [7]:
grade_book.update({'Masum':[87,98,97]})

In [8]:
grade_book

{'Susan': [92, 85, 100],
 'Eduardo': [83, 95, 79],
 'Azizi': [91, 89, 82],
 'Pantipa': [97, 91, 92],
 'Masum': [87, 98, 97]}